target/
.classpath

.project

.settings/org.eclipse.core.resources.prefs

*.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.jdt.core.prefs

.classpath

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.jdt.core.prefs
